/.python-version
/resources/clnsg_keep.txt
/resources/uniq_clnsg_rs.txt
/output
/resources/change_json_ref.sh
/resources/schema_local
/bin/.python-version
/eva_cttv_pipeline/py3
/eva_cttv_pipeline/py2
/bin/py3
/bin/py2
/nb_testing
/eva_cttv_pipeline/.fuse_hidden00000d9900000001
/req.txt
/eva_cttv_pipeline.egg-info
/build
/dist
/venv


# General
*.jar
*.war
*.o
*.lib
*.a
*.so
*.so.*
*.out
*.log
sonar-project.properties

# Maven
target/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/


# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Python
*.pyc
