/resources/rs_ids_2015_05.txt
/resources/bad_snp2gene
/.python-version
/resources/clnsg_keep.txt
/resources/uniq_clnsg_rs.txt
/output
/resources/change_json_ref.sh
/resources/schema_local
/bin/.python-version
/eva_cttv_pipeline/py3
/eva_cttv_pipeline/py2
/bin/py3
/bin/py2
/nb_testing
/eva_cttv_pipeline/.fuse_hidden00000d9900000001
/req.txt
/eva_cttv_pipeline.egg-info
/build
/dist
/eva_cttv_pipeline/resources/.~lock.eva_cttv_snp2gene_mapping_20150512.xls#
/eva_cttv_pipeline/resources/.~lock.ClinVar_Traits_EFO_090915.xls#
/eva_cttv_pipeline/build
/venv
/venv_3.5
/eva_cttv_pipeline/resources/copy_schema_files.sh
/eva_cttv_pipeline/resources/rs_ids_2015_05_sortuniq.txt
/eva_cttv_pipeline/resources/variant_summary_2015-05.txt.gz
/eva_cttv_pipeline/resources/schema_local
.cache
.eggs
*.coverage

# General
*.jar
*.war
*.o
*.lib
*.a
*.so
*.so.*
*.out
*.log
sonar-project.properties

# Maven
target/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/


# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Python
*.pyc
